[submodule "Assignments/Assignment-One"]
	path = Assignments/Assignment-One
	url = https://github.com/JuelHossain/Assignment-One
[submodule "Assignments/Assignment-Two"]
	path = Assignments/Assignment-Two
	url = https://github.com/JuelHossain/Assignment-two
